@import '../../src/common/styles/mixins';
@import '../../src/common/styles/variables';


.header {
    @include flex(unset, center, center);
    min-height: 80px;
    width: 100%;
    position: fixed;
    background-color: $backgroundThirdColor;
    z-index: 100;
}

