.contactsBlock {
  min-height: 400px;
  background: #fdca40;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  .contactsContainer {
    min-height: 350px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      padding: 0;
      margin: 0;
    }
    .contactsInfoForm {
      min-width: 400px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      @media (max-width: 480px) {
        min-width: 100%;
        gap: 0;
      }
      .contactsForm {
        min-width: 225px;
        min-height: 225px;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding-top: 10px;
        gap: 10px;
        @media (max-width: 480px) {
          padding-left: 0;
          gap: 2px;
        }
        h2 {
          font-size: 20px;
        }
        input {
          min-height: 37px;
          @media (max-width: 480px) {
            min-height: 25px;
          }
        }
        textarea {
          min-height: 75px;
          @media (max-width: 480px) {
            min-height: 100px;
          }
        }
        .holders {
          background-color: #6c6868;
          border-radius: 8px;
          border: 1px #6c6868;
          margin-top: 5px;

          &::placeholder {
            color: #fdfdff;
          }
        }
        .contactsButton {
          min-height: 40px;
          min-width: 100px;
          background-color: #6c6868;
          color: #fdfdff;
          border-radius: 9px;
          text-align: center;
        }
      }
    }
  }
}




