@import '../../src/common/styles/mixins';
@import '../../src/common/styles/variables';

.contactsBlock {
  min-height: 400px;
  background: $backgroundFirstColor;
  @include flex(unset, center, center);
  padding-bottom: 50px;

  .contactsContainer {
    min-height: 350px;
    width: 90%;
    margin: 0 auto;
    @include flex(column, center, center);

    h2 {
      padding: 0;
      margin: 0;
    }

    .contactsInfoForm {
      min-width: 400px;
      @include flex(row, space-betwwen, center);
      gap: 50px;
      @media (max-width: 480px) {
        min-width: 100%;
        gap: 0;
      }

      .contactsForm {
        min-width: 225px;
        min-height: 225px;
        margin-left: 15px;
        @include flex(column, space-between, unset);
        text-align: center;
        padding-top: 10px;
        gap: 10px;
        @media (max-width: 480px) {
          padding-left: 0;
          gap: 2px;
        }

        h2 {
          font-size: 20px;
        }

        input {
          min-height: 37px;
          @media (max-width: 480px) {
            min-height: 25px;
          }
        }

        textarea {
          min-height: 75px;
          @media (max-width: 480px) {
            min-height: 100px;
          }
        }

        .holders {
          background-color: $backgroundGrayColor;
          border-radius: 8px;
          border: 1px $backgroundGrayColor;
          margin-top: 5px;

          &::placeholder {
            color: $backgroundSecondColor;
          }
        }

        .contactsButton {
          min-height: 40px;
          min-width: 100px;
          background-color: $backgroundGrayColor;
          color: $backgroundSecondColor;
          border-radius: 9px;
          text-align: center;
        }
      }
    }
  }
}




