.nav {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 20;
    list-style: none;
}


 .white {
    color: white;
    text-decoration: none;
}

.golden {
    color: goldenrod;
    text-decoration: none;
}

 hover {
    cursor: pointer;
    font-weight: 500;
    font-size: 22px;
    color: white;
}