@import '../../../src/common/styles/mixins';
@import '../../../src/common/styles/variables';

.nav {
  @include flex(row, space-between, normal);
  min-width: 300px;
  z-index: 20;
  list-style: none;
  gap: 15px;
  @media (max-width: 480px) {
    min-width: 200px;
    gap: 5px;
  }

  .navItem {
    color: $backgroundSecondColor;
    text-decoration: none;
    font-size: 22px;
    @media (max-width: 480px) {
      font-size: 18px;
    }
  }

  .active {
    color: $backgroundFirstColor;
    text-decoration: none;
    font-size: 22px;

    @media (max-width: 480px) {
      font-size: 18px;
    }
  }
}


