$backgroundFirstColor: rgb(253, 202, 64);
$backgroundSecondColor: white;
$backgroundThirdColor: black;
$backgroundGrayColor: #6c6868;
$textFirstFont: 'Open Sans', sans-serif;
$textSecondFont: 'Poppins', sans-serif;
