@import '../../src/common/styles/mixins';
@import '../../src/common/styles/variables';

.projectsBlock {
  min-height: 300px;
  background: $backgroundThirdColor;
  padding-bottom: 50px;
  .projectsContainer {
    width: 80%;
    margin: 0 auto;
    @include flex(column, flex-start, center);

    .title {
      color: $backgroundSecondColor;
    }
    .projects {
      width: 100%;
      @include flex(unset, center, center);
      flex-wrap: wrap;
      gap: 15px;
    }
  }
}





