@import '../../../src/common/styles/mixins';
@import '../../../src/common/styles/variables';

.network {
    @include flex(unset, center, center);
    width: 60px;
    height: 60px;
    img {
        width: 32px;
        height: 32px;
    }
}


