
.skillsBlock {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgb(236, 186, 51) 10%, rgb(10, 23, 26) 100%);

}



.skillsContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

}

.title {
    font-size: 20px;
    color: white;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
}