.skillsBlock {
    min-height: 700px;
    background: #a8ab82;
    display: flex;
    flex-direction: column;
}



.skillsContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

}

.title {
    background-color: blue;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}