@import '../../src/common/styles/mixins';
@import '../../src/common/styles/variables';

.skillsBlock {
    min-height: 250px;
    @include flex(column, unset, unset);
    background-color: $backgroundFirstColor;
    .skillsContainer {
        width: 80%;
        margin: 0 auto;
        @include flex(column, flex-start, center);
        title {
            font-size: 20px;
            color: $backgroundThirdColor;
        }
        .skills {
            width: 100%;
            @include flex(unset, space-around, unset);
            flex-wrap: wrap;
            gap: 15px;
            list-style: none;
        }
    }
}







