.mainBlock {
    min-height: 100vh;
    background: linear-gradient(90deg, rgb(236, 186, 51) 10%, rgb(10, 23, 26) 100%);

}

.mainContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


.text {
    width: 300px;

}

.photo {
    width: 300px;
    height: 300px;
    background-color: blue;
    border-radius: 145px;
}

span {
    font-size: 24px;
    color: #6c6868;

}



p {
    font-size: 18px;
}