.mainBlock {
    height: 100vh;
    background: #a9e154;
}

.mainContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid;
    flex-wrap: nowrap;
}


.text {
    width: 300px;
    background-color:  red;
}

.photo {
    width: 300px;
    height: 300px;

    background-color: blue;
}