@import '../../src/common/styles/mixins';
@import '../../src/common/styles/variables';

.mainBlock {
  min-height: 100vh;
  background: $backgroundThirdColor;
  padding-top: 80px;
  @media (max-width: 480px) {
    padding-top: 10px;
  }
  @media (max-width: 720px) and (min-width: 480px) {
    min-height: 80vh;
  }
  .mainContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    @include flex(unset, space-around, center);
    flex-wrap: wrap;
    @media (max-width: 480px) {
      padding: 80px 0 10px 0;
    }
    @media (max-width: 825px) and (min-width: 480px) {
      padding-bottom: 15px;
    }

    .text {
      @include text($textFirstFont, normal, unset, unset);
      width: 300px;
      .animSpan {
        color: $backgroundFirstColor;
        @media (max-width: 480px) {
          font-size: 24px;
        }
      }
      span {
        color: $backgroundSecondColor;
        font-size: 48px;
        margin-top: 25px;
        @media (max-width: 480px) {
          font-size: 32px;
        }
      }
      p {
        font-size: 20px;
        color: $backgroundFirstColor;
        @media (max-width: 480px) {
          font-size: 16px;
        }
      }
    }
    .photo {
      @include image(360px, 360px);
      background-color: $backgroundFirstColor;
      border-radius: 145px 145px 25px 25px;
      @media (max-width: 480px) {
        @include image(225px, 225px);
      }
      @media (max-width: 720px) and (min-width: 480px) {
        @include image(300px, 300px);
      }
    }
  }
}















