@import '../../../src/common/styles/mixins';
@import '../../../src/common/styles/variables';

.project {
    width: 250px;
    background-color: $backgroundGrayColor;
    @include flex(column, unset, center);
    text-align: center;
    border-radius: 10px;
        .icon {
        height: 150px;
        width: 100%;
    }
    .description {
        min-height: 30px;
        @include flex(unset, center, center);
        flex-wrap: wrap;
        text-align: center;
        background-color: #363232;
        border-radius: 0 0 10px 10px;
        h3 {
            color: $backgroundSecondColor;
        }
        span {
            max-width: 250px;
            padding-bottom: 15px;
            color: $backgroundFirstColor;
        }

    }
}




