.remoteBlock {
    min-height:  150px;
    background: #2de5c2;
    display: flex;
    justify-content: center;
    .remote {
        height: 150px;
        width: 80%;
        border: 1px solid;
        display: flex;
        align-self: center;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        .remoteButton {
            min-height: 50px;
            min-width: 100px;
        }
    }
}








